# Python
__pycache__/
__pycache__
*.py[cod]
*.swp
*.swo
*.log
*.bak
*.pyc

# Virtual Environment
venv/
env/
.env
bin/
lib/
*.env
pip-selfcheck.json

# Dependencies
/.venv
/.vscode

# VS Code
.vscode/
